/* Provide sufficient contrast against white background */
a {
  color: Teal;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem darkslategray;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: Teal;
  border-color: darkslategray;
}
.btn-primary:hover {
  background-color: darkslategray;
}

#content-input {
  min-height: 30cap;
}

.entry-card:hover {
  cursor: pointer;
  background-color: ghostwhite;
}

